 .outlined {
    padding: 1rem 2.5rem;
    border-radius: 30px;
    color: white;
    background-color: inherit;
    border: 1px solid white;
  }

  .outlined:hover {
    border-color: hsl(3, 58%, 47%);
  }

  .primary {
    background-color: hsl(3, 58%, 47%);
    padding: 1.4rem 5rem;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    transition: padding 0.3s ease, background-color 0.2s ease,
      transform 0.2s ease-in-out;
  }
  .primary:hover {
    background-color: hsl(3, 58%, 34%);
    transform: scale(1.05);
  }