section {
  height: 800px;
}

/* Header Style  */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: rgba(9, 34, 52, 0.8);
  backdrop-filter: blur(10px);
  top: 0;

  ul {
    display: inline-flex;
    gap: 1rem;
    list-style: none;
  }

  .list {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: "Helvetica-regular";
    font-size: 18px;
    transition: transform 0.5s ease-in-out;
    font-family: Helvetica, system-ui, Arial, sans-serif;
  }

  .activatedList {
    color: hsl(3, 58%, 47%);
    transform: scale(1.2);
  }

  .list:hover {
    color: hsl(3, 58%, 47%);
  }
}

/* Home Section */
#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5% 0%;
  gap: 50px;
  background-color: rgba(9, 34, 52, 0.8);

  .divInHome {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 500px;
    height: 550px;

    pre {
      color: #e8e8e8;
      display: flex;
      flex-direction: column;
      text-align: start;
      font-size: 50px;
      text-wrap: wrap;
      font-weight: 600;
    }

    span {
      font-weight: 600;
      font-size: 3rem;
      color: hsl(3, 58%, 47%);
    }
    p {
      padding-right: 1%;
      overflow-wrap: normal;
      word-break: normal;
      color: white;
      font-size: 16px;
    }
  }

  .divInHomeResp {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 500px;
    height: 550px;

    pre {
      color: #e8e8e8;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 50px;
      text-wrap: wrap;
      font-weight: 600;
    }

    span {
      font-weight: 600;
      font-size: 3rem;
      color: hsl(3, 58%, 47%);
    }
    p {
      text-align: center;
      padding-right: 1%;
      overflow-wrap: normal;
      word-break: normal;
      color: white;
      font-size: 16px;
    }
  }

  img {
    width: 600px;
    transition: transform 0.2s ease-in-out;
    position: relative;
    bottom: 30px;
  }

  img:hover {
    transform: scale(1.05);
  }
}

/* About Section */
#about {
  background-color: #1e293b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-bottom: 100px;

  pre {
    margin-top: 50px;
    color: #e8e8e8;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    text-wrap: wrap;
    font-weight: 600;

    span {
      font-weight: 600;
      font-size: 3rem;
      color: hsl(3, 58%, 47%);
    }
  }

  .phonesDiv {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(
      to bottom,
      transparent 20%,
      #fff1 20%,
      #fff1 80%,
      transparent 80%
    );
    width: 100%;
    padding: 10px 10%;
    height: 500px;
    margin-top: 100px;

    p {
      text-align: start;
      color: white;
    }

    img {
      height: 90%;
    }
  }
}

/* Concept Section */
#conception {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 600px;

  .conc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 450px;
  }

  pre {
    color: #242424;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 36px;
    text-wrap: wrap;
    font-weight: 600;
  }
  span {
    text-align: start;
    color: #bd3932;
  }

  p {
    font-weight: 300;
    font-size: 16px;
  }

  .secondPlane {
    width: 400px;
  }
}

/* Why US section */
#whyus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10%;
  height: 1200px;

  pre {
    color: #fbfbfb;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36px;
    text-wrap: wrap;
    font-weight: 600;

    span {
      color: #bd3932;
    }
  }

  .reasonCards {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;

    .reasonCard {
      background: linear-gradient(160deg, #ffffff18, #2b313d);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4% 2%;
      height: 200px;
      border-radius: 20px;
      margin: 20px;
    }
    .reasonSpan {
      text-align: center;
      font-size: 22px;
      color: white;
    }
  }
  .conteinerOfWhyus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 450px;
    border-radius: 15px;
    background-color: #1e293b;
    color: #e8e8e8;
    padding: 2% 10%;
    text-align: center;

    h4 {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    }
  }
}

@media (max-width: 1440px) {
  .phonesDiv {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .cards{
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  #conception {
    height: auto;
    .conc {
      width: 100%;
      padding: 5%;
      justify-content: space-evenly;
    }
    pre {
      align-items: center;
    }

    p {
      text-align: center;
    }
  }
  #whyus {
    .reasonCards {
      display: unset;
      display: grid;
      width: 80%;
      grid-template-columns: repeat(2, 0.5fr);
      grid-template-rows: repeat(2, 0.5fr);

      .reasonCard {
        height: 150px;
      }
    }
    .conteinerOfWhyus{
    h4{
      font-size: 24px;
    }
  }
  }
}
