.statistic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
}

.CanvaPhoto {
  height: 99%;
  width: 100%;
}

.app__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: -webkit-radial-gradient(
    ellipse at bottom,
    #0d1d31 0%,
    #0a1423 40%,
    #080c16 100%
  );
  background-image: radial-gradient(
    ellipse at bottom,
    #0d1d31 0%,
    #0a1423 40%,
    #080c16 100%
  );
}

.gameMenu {
  height: 100%;
  width: 33%;
  background-color: black;
  padding: 10px;
}

.canva {
  width: 67%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(2, 2, 22);

  .loadingAnimation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
}

.betButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 1%;
  z-index: 100;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0a0f18 100%);
}

@media screen and (max-width: 1000px) {
  .statistic {
    flex-direction: column-reverse;
    height: auto;
    overflow-y: scroll;
  }
  .canva {
    margin-top: 60px;
    width: 100%;
    height: 1000px;
  }
  .SubHeader {
    position: fixed;
    top: 0px;
    left: 0;
    background-color: black;
    z-index: 999;
  }
  .gameMenu {
    width: 100%;
    height: auto;
  }

  .app__wrapper {
    height: 80svh;
  }
}

@media screen and (max-width: 1000px) {
  .betButtons {
    flex-direction: column;
  }
}
